*{
    
}
    
.abc{
    color: blue;
}

.def{
    color: yellow;
}

.ghi{
    color: lightseagreen;
}

.jkl{
    color: aqua;
}

.mno{
    color: palegreen;
}

.pqr{
    color: rebeccapurple;
}



h1{
    color: lightblue;
}

table{
    background-color: rgb(248, 95, 6);
}

